{% extends 'mainpage/mainpage_template.html' %}

{% block content %}
    <form method="POST" action="/building/">
        {% csrf_token %}
        <div class="form-group mx-sm-3 col-md-3 w-25">
            <label for="id_title_1" class="sr-only">Title:</label>
            <input type="text" name="title" class="form-control"
                   id="id_title_1" placeholder="Title" required>
        </div>
        <div class="form-group mx-sm-3 col-md-3 w-25">
            <label for="id_building_address1" class="sr-only">Building address:</label>
            <input type="text" name="building_address" class="form-control"
                   id="id_building_address1" placeholder="Building address" required>
        </div>
        <button type="submit" class="btn mx-sm-3 btn-primary mb-3">Построить здание</button>
    </form>
{% endblock %}
