{% extends 'mainpage/mainpage_template.html' %}

{% block content %}
    <ul class="list-group list-group-flush w-25">
        {% for building in buildings %}
            <li class="list-group-item">
                {{ building.establishment_date }}<br>
                <a href="{% url 'building_detail' pk=building.pk %}">
                    {{ building.title }}</a><br>
                {{ building.bricks_amount|linebreaksbr }}
                <p>Количество кирпичей: {{ building.get_bricks_amount }}</p>
                {{ building.building_address|linebreaksbr }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}